# Обязательно: пароль пользователя Postgres (имя переменной = --password-env в compose)
DB_PG_PWD_POSTGRES=change_me

# --- Compose / шаблон docker-compose.yml ---

# Путь к SQL-скриптам на хосте (монтируется в /app/scripts)
# MIGRATOR_SCRIPTS_PATH=./examples/scripts

# Путь к контексту сборки (папка src мигратора относительно compose)
# MIGRATOR_BUILD_CONTEXT=./src
# При клоне рядом с проектом, например:
# MIGRATOR_BUILD_CONTEXT=./pelmesh-migrator/src

# Подключение к Postgres
# MIGRATOR_DB_HOST=postgres
# MIGRATOR_DB_PORT=5432
# MIGRATOR_DB_USER=postgres

# Docker-сеть (должна совпадать с сетью, где крутится Postgres)
# MIGRATOR_NETWORK=pelmesh-migrator
# MIGRATOR_CONTAINER_NAME=migrator

# Зеркало базовых образов (build-args Dockerfile)
# MIGRATOR_RUNTIME_IMAGE=mcr.microsoft.com/dotnet/runtime:8.0
# MIGRATOR_SDK_IMAGE=mcr.microsoft.com/dotnet/sdk:8.0

# --- Env fallbacks Migrator.dll (если CLI-аргумент не задан) ---
# POSTGRES_HOST=localhost
# POSTGRES_PORT=5432
# POSTGRES_USER=postgres
# POSTGRES_PASSWORD=change_me
# POSTGRES_DB=appdb
